@use 'variables' as v;

#productopage{
    margin-top: v.$separacion;
    padding: 2rem;
    display: flex;
    flex-direction: column;


    @media (min-width:992px){
        flex-direction: row;

    }
    
    
    .productoimagen{
        width: 100%;
        margin-top: 0;

        @media (min-width:992px){
            width: 35%;
            margin-right: 5rem;
            border-radius: 6px;
    
        }
        
    }

   

    .productocontenido{
        width: 100%;
        
        

        @media (min-width:992px){
            width:50%;
            padding: 1.6rem;

        }
    }
    
}

.productocontenido{
    h6{
        
        font-size: 1.7rem;
        margin: 1.5rem 0 0 0;
        @media(min-width:768px){
            margin: 0;
        }
    }

    h3{
        color: v.$background;
        font-size: 2.5rem;

        font-weight: 700;
        @media (min-width:768px){
            font-size: 2.9rem;
        }
        
    }
    h2{
   
        margin: -10px 0 5px 0px;
        font-weight: 700;
    }

    select{
        padding: .7rem;
        display: block;
        width: 100px;
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    input{
        padding: .7rem;
        margin-right: 1rem;
        width: 100px;
        font-size: 1.3rem;
    }



}

.productocontenido {
    
    h4{
        margin-top: v.$separacion;
        margin-bottom: calc(v.$separacion/2);
    }
    span{
        line-height: 2;
        font-size: 1.4rem;
        
    }
}