html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

h1 {
  font-size: 5rem;
  color: #222;
  line-height: 64px;
  margin: 0;
}

h2 {
  font-size: 4.3rem;
  color: #222;
  line-height: 54px;
  margin: 0;
}

h3 {
  font-size: 3.7rem;
  color: #222;
  line-height: 54px;
  margin: 0;
}

h4 {
  font-size: 2.7rem;
  color: #222;
  margin: 0;
  margin: 0;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.4rem;
}

span {
  font-size: 1.3rem;
  color: #465b52;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 15px 0 20px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.7rem;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .navegacion {
    display: flex;
    padding: 1.6rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
  }
}
@media (min-width: 992px) {
  .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12rem;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.navbar li {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .navbar li {
    padding: 0 2.4rem;
  }
}
.navbar li a {
  color: rgba(32, 32, 32, 0.6509803922);
  transition: 0.3s ease;
  font-weight: 500;
}

.navbar li a:hover,
.navbar li a.active {
  color: #088178;
}

@media (min-width: 992px) {
  .logo {
    margin-left: 80px;
  }
}
/* PAGINA PRINCIPAL */
.contenedor {
  max-width: 95rem;
  margin: 0 auto;
  width: 90%;
}

#hero {
  background-image: url(../img/portadaresponsive.jpg);
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #hero {
    background-image: url(../img/portada2.jpg);
    height: 90vh;
    background-size: cover;
    background-position-x: unset;
  }
}
.hero__texto {
  padding: 8rem 2rem 0rem 2.3rem;
}

@media (min-width: 768px) {
  .hero__texto {
    padding: 14rem 2rem 0rem 6rem;
  }
}
@media (min-width: 992px) {
  .hero__texto {
    padding: 15rem 20rem;
  }
}
#hero h4 {
  font-size: 1.9rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  #hero h4 {
    font-size: 2.6rem;
  }
}
#hero h1 {
  color: #088178;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  #hero h1 {
    font-size: 5rem;
  }
}
#hero h2 {
  font-size: 2.2rem;
  padding: 1rem 0 1rem 0;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}

@media (min-width: 768px) {
  #hero h2 {
    font-weight: 900;
    font-size: 4.3rem;
  }
}
@media (max-width: 422px) {
  #hero p {
    margin: 8px 0 25px 0;
    font-size: 1.4rem;
  }
}
#hero p {
  text-transform: uppercase;
}

.button {
  margin-top: -200px;
  display: inline-block;
  padding: 12px 24px;
  border: 0.5px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: #465b52;
  z-index: 1;
}

@media (min-width: 768px) {
  .button {
    margin-top: 0;
    display: inline-block;
    padding: 12px 24px;
    border: 0.5px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: #465b52;
    z-index: 1;
  }

  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #088178;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button:hover {
    color: #ffffff;
    border: 1px solid #088178;
  }

  .button:hover:before {
    top: -35%;
    background-color: #088178;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .button:hover:after {
    top: -45%;
    background-color: #088178;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
}
#beneficios {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  #beneficios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.6rem;
  }
}
.beneficios__box img {
  width: 155px;
}

@media (min-width: 768px) {
  .beneficios__box img {
    width: 165px;
  }
}
.beneficios__texto {
  margin-top: 10px;
  text-transform: uppercase;
}

.beneficios__box h4 {
  font-weight: 500;
  font-size: 1.7rem;
}

#beneficios .beneficios__box {
  margin-top: 2rem;
  width: 190px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 300ms;
}

#beneficios .beneficios__box:hover {
  transform: scale(1.1);
}

/* productos principal */
#productos {
  margin-bottom: 2rem;
}

.productos__heading {
  text-align: center;
  margin-top: 4rem;
}

.productos__heading {
  text-transform: uppercase;
}

.productos__heading h2 {
  font-weight: 900;
}

.producto {
  width: 23%;
  min-width: 250px;
  padding: 0.5rem 0.7rem;
  border: 1px solid #cce7d0;
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 400ms;
  cursor: pointer;
  margin-bottom: 2.5rem;
}

.producto:hover {
  transform: scale(1.1);
}

@media (min-width: 992px) {
  .producto {
    margin-bottom: 0;
  }
}
.producto img {
  width: 100%;
  border-radius: 5px;
}

.producto__descripcion span {
  margin: 0.8rem 0 1.3rem 0;
}

.producto__descripcion h5, .producto__descripcion h4 {
  margin: 0;
}

.producto__descripcion {
  padding: 1.4rem;
}

.producto__descripcion h4 {
  color: #088178;
}

.producto__descripcion h5 {
  color: rgba(32, 32, 32, 0.7529411765);
  font-weight: 900;
}

.productos__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .productos__container {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  .productos__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
  }
}
.banner {
  background-color: #F3F4F9;
  margin-top: 6rem;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
  line-height: 1.3;
  padding: 3rem;
}
.banner__content h2 {
  font-weight: 700;
}

@media (min-width: 768px) {
  .banner__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 15rem;
  }
}
@media (min-width: 992px) {
  .banner__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 15rem;
  }
}
.banner__texto {
  padding: 2rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .banner__texto {
    margin-left: -15rem;
  }
}
@media (min-width: 992px) {
  .banner__texto {
    margin-left: 0;
    min-width: 50%;
  }
}
.banner__content h5 {
  text-transform: uppercase;
  margin: 0;
}

.banner__content span {
  color: #088178;
  font-size: 4.3rem;
  text-transform: uppercase;
}

.banner__content .button {
  margin-top: 1.5rem;
}

.banner img {
  height: 18rem;
  position: absolute;
  margin-top: -150px;
  margin-left: -120px;
}

@media (min-width: 768px) {
  .banner img {
    height: 23rem;
    margin-right: 52px;
    position: absolute;
    margin-top: -245px;
    margin-left: -40px;
  }

  /* /* /* .categorias__box{ */
}
@media (min-width: 768px) and (min-width: 992px) {
  .banner img {
    height: 25rem;
    margin-right: 52px;
    position: unset;
    margin-top: unset;
    margin-left: unset;
  }
}
@media (min-width: 768px) {
  .categorias__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/categoria1.jpg);
    max-width: 500px;
    height: 55vh;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    background-position-y: -65px;
  }
}
@media (min-width: 768px) {
  .categorias__box:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/categoria2.jpg);
    background-repeat: no-repeat;
    background-position-y: -37px;
    max-width: 500px;
    height: 55vh;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .categorias__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .categoria__texto {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .categorias__box h3 {
    text-align: center;
    margin-top: 22rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.7rem;
  }
}
#category .category__box:nth-child(1) {
  background-color: #222;
  height: 55vh;
  max-width: 500px;
  color: #F3F4F9;
  background-image: url(../img/categoria1.jpg);
  background-size: cover;
  background-position-y: -65px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 768px) {
  #category .category__box:nth-child(1) {
    background-position-y: unset;
  }
}
@media (min-width: 992px) {
  #category .category__box:nth-child(1) {
    background-position-y: -110px;
  }
}

#category .category__text {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#category h4 {
  color: #F3F4F9;
  text-transform: uppercase;
}

#category .category__box:nth-child(2) {
  background-color: #222;
  height: 55vh;
  max-width: 500px;
  color: #F3F4F9;
  background-image: url(../img/categoria2.jpg);
  background-size: cover;
  background-position-y: -4px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  #category .category__box:nth-child(2) {
    background-position-y: unset;
  }
}
@media (min-width: 768px) {
  #category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  #category h4 {
    margin-top: 4rem;
  }
}
@media (min-width: 768px) {
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer {
  background-color: #e3e6f3;
  width: 100%;
  padding: 4rem 1rem;
}

.footer ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.footer li {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.footer span {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}

.footer p {
  color: #465b52;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

/* nosotros */
.nosotros__imagen {
  height: 55vh;
  margin: 0 auto;
  background-image: url(../img/sueterprincipal.jpg);
  margin-bottom: 3rem;
  background-size: cover;
}

.nosotros__texto p {
  line-height: 2;
  color: #4f4f4f;
  font-size: 1.7rem;
  padding: 0rem 2rem;
  margin: 0 0 2rem 0;
}

.nosotros__texto h2 {
  color: #222;
  padding: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.nav-link.active {
  color: rgb(61, 129, 120) !important;
}

.navbar {
  padding: 1rem;
  background-color: #EAEBED !important;
}
.navbar h4 {
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .navbar h4 {
    margin-left: 19rem;
  }
}
.navbar ul {
  text-align: right;
}
@media (min-width: 992px) {
  .navbar ul {
    margin-left: 35rem;
    text-align: unset;
  }
}
.navbar li {
  margin-bottom: 0;
  padding: 2rem;
}

#productopage {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #productopage {
    flex-direction: row;
  }
}
#productopage .productoimagen {
  width: 100%;
  margin-top: 0;
}
@media (min-width: 992px) {
  #productopage .productoimagen {
    width: 35%;
    margin-right: 5rem;
    border-radius: 6px;
  }
}
#productopage .productocontenido {
  width: 100%;
}
@media (min-width: 992px) {
  #productopage .productocontenido {
    width: 50%;
    padding: 1.6rem;
  }
}

.productocontenido h6 {
  font-size: 1.7rem;
  margin: 1.5rem 0 0 0;
}
@media (min-width: 768px) {
  .productocontenido h6 {
    margin: 0;
  }
}
.productocontenido h3 {
  color: #088178;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .productocontenido h3 {
    font-size: 2.9rem;
  }
}
.productocontenido h2 {
  margin: -10px 0 5px 0px;
  font-weight: 700;
}
.productocontenido select {
  padding: 0.7rem;
  display: block;
  width: 100px;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.productocontenido input, .productocontenido .form textarea, .form .productocontenido textarea {
  padding: 0.7rem;
  margin-right: 1rem;
  width: 100px;
  font-size: 1.3rem;
}

.productocontenido h4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.productocontenido span {
  line-height: 2;
  font-size: 1.4rem;
}

#contacto h2 {
  text-align: center;
  font-size: 3.4rem;
  margin-bottom: 2rem;
}
#contacto span {
  color: #088178;
  font-size: 3.4rem;
}

.form {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.form .form__campo {
  margin-top: 1rem;
}
.form input, .form textarea {
  width: 90%;
  padding: 1.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid #088178;
}
@media (min-width: 768px) {
  .form textarea {
    grid-column: 1/span 3;
  }
}
.form label {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.form .btn {
  display: inline-block;
  padding: 12px 24px;
  border: 0.5px solid #4f4f4f;
  border-radius: 4px;
  font-size: 19px;
  background-color: #088178;
  color: #fff;
  margin-top: 2rem;
}


.Botones__filtrados{
  display: flex;
  justify-content: center;
  
  
}

@media (min-width: 768px) {
  .Botones__filtrados {
    justify-content: right;
    margin-right: 23px;
    margin-bottom:15px;
  }
}
.boton__producto{
  background-color: #088178;
  color:#fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 1.3rem;
  margin: 15px 20px ;
  font-size: 1rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=estilos.css.map */
